/* 🚨🚫🙅  START OF THE NO TOUCHING ZONE 🙅🚫🚨 */
body {
  height: 100vh;
}
.box {
  border: 2px solid black;
  font-size: 2em;
  padding: 0.5em;
  box-sizing: border-box;
}
/* 🚨🚫🙅  END OF THE NO TOUCHING ZONE 🙅🚫🚨 */

/* ALL YOUR CODE GOES BELOW THIS LINE */
/* ================================== */

#container {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  min-height: 300px;
  border: 1px solid black;

  /* ⬇️⬇️⬇️ STYLE THE GRID CONTAINER HERE ⬇️⬇️⬇️ */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  /* ⬆️⬆️⬆️ STYLE THE GRID CONTAINER HERE ⬆️⬆️⬆️ */
}
