/* 🚨🚫🙅  START OF THE NO TOUCHING ZONE 🙅🚫🚨 */
.box {
  border: 1px solid black;
  background-color: #6a1b9a;
}

#container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-size: 100px 100px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
/* 🚨🚫🙅  END OF THE NO TOUCHING ZONE 🙅🚫🚨 */

/* ALL YOUR CODE GOES BELOW THIS LINE */
/* ================================== */

#pinkbox {
  background-color: #e91e63;
  /* ⬇️⬇️⬇️ STYLE THE PINK BOX HERE ⬇️⬇️⬇️ */
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 5;
  /* ⬆️⬆️⬆️ STYLE THE PINK BOX HERE ⬆️⬆️⬆️ */
}
