/* 🚨🚫🙅  START OF THE NO TOUCHING ZONE 🙅🚫🚨 */
#container {
  background-size: 100px 500px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
/* 🚨🚫🙅  END OF THE NO TOUCHING ZONE 🙅🚫🚨 */
/* ALL YOUR CODE GOES BELOW THIS LINE */
/* ================================== */

#pinkbox {
  background-color: #e91e63;
  /* ⬇️⬇️⬇️ STYLE THE PINK BOX HERE ⬇️⬇️⬇️ */

  /* ⬆️⬆️⬆️ STYLE THE PINK BOX HERE ⬆️⬆️⬆️ */
}
